<header class="header">
    <h1>todos</h1>
    <input class="new-todo"
            placeholder="¿Qué quieres hacer?"
            [formControl]= "txtInpunt"
            (keyup.enter) = "agregar()"
            autofocus>
</header>