<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ pendientes }}</strong> tareas pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li *ngFor="let filtro of filtros"
          (click)="cambiarFiltro(filtro)">
        <!-- class="selected" -->
        <a  href="#/"
            [class.selected] = "filtro == filtroActual">
            {{ filtro | titlecase }}</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="limpiarCompletados()">Limpiar completados</button>
  </footer>