<li [class.completed] = "todo.completado"
    [class.editing] = "editando">
    <div class="view">
      <input  class="toggle"
              [formControl]="chkCompletado"
              type="checkbox">
      <label (dblclick)="editar()" >{{ todo.texto }}</label>
      <button class="destroy" (click)="eliminarItem()"></button>
    </div>
    <input  class="edit"
            [formControl]="txtInput"
            (blur) ="terminarEdicion()"
            #inputFisico>
</li>